body {
    background-color: black;
    margin: 0 auto;
}

.main-grid-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: calc(100dvh - 18px);
    width: calc(100dvh - 18px);
    margin: 0 auto;
    margin-top: 6px;
    min-height: 480px;
    min-width: 480px;
}

.border-right {
    border-right: solid;
    border-color: #DF9ECD;
}

.border-bottom {
    border-bottom: solid;
    border-color: #DF9ECD;
}

.main-grid-cell.border-right {
    border-right-width: 4px;
}

.main-grid-cell.border-bottom {
    border-bottom-width: 4px;
}

.small-grid-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height: 95%;
    width: 95%;
    position: relative;
    margin: 0 auto;
    margin-top: 6px;
}

.small-grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #FF929F;
    /* rgba(255, 146, 159, 0.2) is the 20% opacity version of above color */
}

.small-grid-cell.border-right {
    border-right-width: 2px;
}

.small-grid-cell.border-bottom {
    border-bottom-width: 2px;
}

.overlay-small-board {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(50px, 20vw, 200px); /* Scales with viewport */
    opacity: 70%;
}

.marker-X {
    /* color: #1E90FF; */
    /* color: #00FFFF; */
    /* color: #FFD700; */
    /* color: #32CD32; */
    /* color: #FFFFFF; */
    /* color: #F4A460; */
    /* color: #DF9ECD; */
    color: #FFC47F;
}

.marker-O {
    /* color: #FF4500; */
    /* color: #FFA500; */
    /* color: #C0C0C0; */
    /* color: #FF00FF; */
    /* color: #D3D3D3; */
    /* color: #6495ED; */
    /* color: #FF929F; */
    /* color: #B4E3FF; */
    color: #318E67;
}

.marker-X-overlay {
    color: #FFC47F;
}

.marker-O-overlay {
    color: #318E67;
}

.marker-X.transparent {
    color: rgba(255, 196, 127, 0.3)
}

.marker-O.transparent {
    color: rgba(49, 142, 103, 0.3);
}

.inactive {
    border-color: rgba(255, 146, 159, 0.2);
}

/* background: rgba(49, 142, 103, 0.4);
    background: rgba(255, 196, 127, 0.3); as cell bg colors*/ 

#player-x-avatar {
    height: 38px;
    padding-left: 20px;
}

#player-o-avatar {
    height: 38px;
}

.dim {
    opacity: 30%;    
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
  
/* @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
} */

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.turn-indicator-div {
    position: fixed;
    top: 0;
    width: 0.5rem;
    height: 100vh;
}

.x-turn {
    left: 0;
    background-color: #FFC47F;
    box-shadow: 0 0 15px 5px rgba(255, 196, 127, 0.8);
  }
  
  .o-turn {
    right: 0;
    background-color: #318E67;
    box-shadow: 0 0 15px 5px rgba(49, 142, 103, 0.8);
  }
  
  @keyframes glowX {
    from {
      box-shadow: 0 0 10px 3px rgba(255, 196, 127, 0.8);
    }
    to {
      box-shadow: 0 0 20px 7px rgba(255, 196, 127, 1);
    }
  }
  
  @keyframes glowO {
    from {
      box-shadow: 0 0 10px 3px rgba(49, 142, 103, 0.8);
    }
    to {
      box-shadow: 0 0 20px 7px rgba(49, 142, 103, 1);
    }
  }

.turn-indicator-div.x-turn.visible {
    animation: fadeIn 0.5s ease-in-out forwards, glowX 1.5s infinite alternate ease-in-out;
}

.turn-indicator-div.hidden {
    animation: fadeOut 0.5s ease-in-out forwards;
}

.turn-indicator-div.o-turn.visible {
    animation: fadeIn 0.5s ease-in-out forwards, glowO 1.5s infinite alternate ease-in-out;
}

.avatar-hamburger-container {
    display: flex;
    position: absolute;
    width: 100vw;
    justify-content: space-between;
}